body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /*FUENTES*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    background-repeat: no-repeat;
    background-size: cover;
}
.cuerpo{
    background-image: url("../images/hassoft.jfif");
}
.header {
    margin-top: 85px;
    float: left;
    /* border: 4px solid rgb(83, 240, 83); */
}



.article{
    margin-top: 111px;
    margin-left: 235px;
    background-color: rgba(203, 240, 203, 0.6);
    height: 320px;
    width: 250px;
    border-radius: 30px;
    box-shadow: 0 0 20px;
}

.formulario{
    display: block;
    text-align: center;
    padding-top: 20px;
    text-shadow: 20px;
}
.formulario h1 p{
    margin-top: 10px;
}
.formulario label{
   text-transform: uppercase;
   font-weight: 500;
   font-size: 20px;
   text-shadow: 0 0 1.8px;
}
.formulario label #icon{
    color: whitesmoke;
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.formulario input:not([type="submit"]){
    width: 80%; 
    margin-bottom: 10px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    text-shadow: 0 0 2px;
}
.formulario input:not([type="submit"]):hover{
    width: 82%;
    border-color: rgba(10, 240, 22, 0.836);
}
#btn{
    padding: 5px;
    width: 40%;
    text-transform: uppercase;
    font-weight: bold;
}

#btn:hover{
    border-color: rgba(10, 240, 22, 0.836);
}
#header {
    
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 3px solid #61dafb;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 100px;
    margin-top: -34px;
    /* animation: girar infinite 30s linear; */
}
@keyframes girar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

#menu {
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li {
    list-style: none;
    height: 46px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover{
    color: #40c0e4;
}

#slider {
    
    width: 100%;
    height: 100px;
    /* line-height: 350px; */
    color: white;
    /* text-shadow: 0px 0px 5px #444; */

    /*DEGRADADO CSS*/
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8fc800+0,8fc800+97 */
background: #8fc800; /* Old browsers */
background: -moz-linear-gradient(top,  #8fc800 0%, #8fc800 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #8fc800 0%,#8fc800 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #8fc800 0%,#8fc800 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#8fc800',GradientType=0 ); /* IE6-9 */

}

#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}

.btn-white {
    display: block;
    background: white;
    color: rgb(92, 88, 88);
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px rgb(92, 88, 88);;
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover{
    background: #444;
    color: white;
}

#slider.slider-small{
    height: 150px;

}
#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;
}

#content{
    width: 70%;
    float: left;
    min-height: 650px; 
    margin-right: 25px;
}
#sidebar{
    width: 25%;
    float: left;
   

}
.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 17px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}
.sidebar-item .btn{
    margin: 0px auto;
    margin-top: 10px;
}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.btn-success{
 background: rgb(23, 150, 19);
}

.btn-success:hover{
    background: black;
}

input[type="text"]{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus{
    box-shadow: 0px 0px 5px #eee inset;
}

#footer{
    background:#8fc800;
    width: 100%;
    height: 70px;
    line-height: 72px;
    color: rgb(44, 44, 44);
}

#footer p{
    margin: 0px;
    padding: 0px;
}

.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px; 
    text-align: left;
}

.article-item  .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{
    display: block;
    width: 100%;
    color: rgb(122, 122, 122);

}

.article-item a{
    display: block;
    color: rgb(105, 105, 105);
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover{
    text-decoration: underline;
}

.subheader{
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.article-detail .image-wrap{
    float: none;
    width: 100%;
    height: 300px;
}

.article-detail .image-wrap img{
    width: 100%;
    height: auto;
}

.article-detail .subheader{
   margin-top: 15px;
   margin-bottom: 0px;
   border: none;
}

.sesion{
    float: right;
    margin-right: 200px;
}

.btn-sesion{
    padding: 8px;
    background-color: #8fc800;
    color:#444;
    text-decoration: none;
    
}
.btn-sesion:hover{
    background-color: #444;
    color:#ccc;
}
.bloque{
    display: block;
    max-width: 700px;
    margin: 0px auto;
}

.form{
    text-transform: uppercase;
    font-size: bold;
    color: #444;
    text-shadow: 0 0 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form input:not([type='submit']){
    width: 100%;
    height: 30px;
    padding: 8px;
    margin-bottom: 10px;
    color: rgb(65, 62, 62);
    border: 1px solid #ccc;
}

.form select{
    width: 103%;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    color: rgb(65, 62, 62);;
}

.form label{
    margin-bottom: 10px;
}

.form h3 a i{
    font-size: 30px;
    color: #8fc800;
    margin-right: 5px;
}
.form h3{
    color: #444;
    font-size: 25px;
    text-shadow: 0 0 1px;
}